@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="User" asp-action="Index">User Management</a>
</div>
<div class="text-center">
    <a asp-controller="Game" asp-action="Index">Games Management</a>
</div>